{% include 'account/head.html' %}
{% load i18n static %}
{% load account socialaccount %}

{% block content %}

<div class="hero min-h-screen bg-blue-500">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl text-white font-bold">Login now!</h1>
      <p class="py-6 text-white">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="flex justify-center items-center">
          <a href="{% url 'voter:home' %}">
            <img class="h-12 w-auto" src="{% static 'assets/img/yl-logo.svg' %}" alt="">
          </a>
        </div>
        <div class="flex justify-center items-center">
          <div class="p-4">
            <button class="w-full flex items-center justify-center bg-white hover:bg-red-600 hover:text-white text-red-600 py-2 px-4 rounded-full transition-colors">
              <img src="{% static 'assets/img/gmail.svg' %}" alt="Gmail Logo" class="w-6 h-6 mr-2">
              Ingresa con Gmail
            </button>
            <button class="w-full flex items-center justify-center bg-white hover:bg-blue-600 hover:text-white text-blue-600 py-2 px-4 rounded-full transition-colors">
              <img src="{% static 'assets/img/outlook.svg' %}" alt="Outlook Logo" class="w-6 h-6 mr-2">
              Ingresa con Outlook
            </button>
          </div>
        </div>
        <div class="divider">O</div>
        <form id="login_form" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-control">
            <label class="label">
              <span class="label-text">Usuario</span>
            </label>
            <input id="id_login" name="login" type="text" autocomplete="login" class="input input-bordered" required/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Contraseña</span>
            </label>
            <input id="id_password" name="password" type="password" autocomplete="current-password" class="input input-bordered" required/>
          </div>
          <div class="form-control mt-3">
            <label class="cursor-pointer">
              <input type="checkbox" class="checkbox checkbox-primary"/>
              <span class="label-text ml-2">Recuerdame</span>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
