{% load static tailwind_tags %}
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Resource links -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="" rel="apple-touch-icon">

    <!-- Tailwind CSS -->
    {% tailwind_css %}

    <!-- Alpine JS-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">

    <meta name="author" content="Social System">
    <title>Social System</title>
    <meta name="description" content="">

</head>