{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}



<nav class=" bg-white w-full flex relative justify-between items-center mx-auto px-8 h-20">
  <!-- logo -->
  <div class="inline-flex">
      <a class="_o6689fn" href="/"
          >    <div class="flex items-center">
            <img src="static/assets/img/ssgod.svg" class="h-8 mr-3">
          </div>
          
      </a>
  </div>

  <!-- end logo -->

  
  <!-- end search bar -->

  <!-- login -->
  <div class="flex-initial">
    <div class="flex justify-end items-center relative">
     
      <div class="flex mr-4 items-center">
        
        
      </div>

      <div class="block">
        <a href="{% url 'account_logout' %}" class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Cerrar sesión
        </a>
    </div>
    
    
    
    
    </div>
  </div>
  <!-- end login -->
</nav>


<main>
  {% if user.is_authenticated %}
  <section x-data="{ showButton: false }" class="flex flex-col justify-center items-center h-screen w-full ">
    <div class="p-6">
        <div class="animate-zoom-in">
            <img @click="showButton = true" src="{% static 'assets/img/ssblanco.svg' %}" class="w-32 max-w-2xl mx-auto md:mx-0 opacity-1 cursor-pointer" alt="YL Logo" />
        </div>
        <p class="eslogan text-white text-center mt-8">Bienvenido.</p>

        <div class="mt-6 text-center">
            <!-- Aquí aplicamos el estilo del botón con un buen contenedor y más largo en los lados -->
            <a href="{% url 'voter:voter' %}" class="custom-button-login inline-block bg-transparent text-white font-bold text-3xl py-3 px-8 rounded-md border border-white transition-all duration-300 ease-in-out transform translate-y-4 opacity-1 hover:bg-white hover:text-blue-500 hover:opacity-100 hover:translate-y-0" :class="{ 'opacity-100 translate-y-0': showButton }" style="min-width: 200px;" x-bind:style="{ display: showButton ? 'block' : 'none' }" x-bind:transition.opacity.duration.300ms="showButton" x-bind:transition.translate.duration.300ms="showButton">Añadir votantes</a>
            <a href="{% url 'voter:voter-list' %}" class="custom-button-login inline-block bg-transparent text-white font-bold text-3xl py-3 px-8 rounded-md border border-white transition-all duration-300 ease-in-out transform translate-y-4 opacity-1 hover:bg-white hover:text-blue-500 hover:opacity-100 hover:translate-y-0" :class="{ 'opacity-100 translate-y-0': showButton }" style="min-width: 200px;" x-bind:style="{ display: showButton ? 'block' : 'none' }" x-bind:transition.opacity.duration.300ms="showButton" x-bind:transition.translate.duration.300ms="showButton">Ver votantes</a>
            <a href="{% url 'voter:voter-list' %}" class="custom-button-login inline-block bg-transparent text-white font-bold text-3xl py-3 px-8 rounded-md border border-white transition-all duration-300 ease-in-out transform translate-y-4 opacity-1 hover:bg-white hover:text-blue-500 hover:opacity-100 hover:translate-y-0" :class="{ 'opacity-100 translate-y-0': showButton }" style="min-width: 200px;" x-bind:style="{ display: showButton ? 'block' : 'none' }" x-bind:transition.opacity.duration.300ms="showButton" x-bind:transition.translate.duration.300ms="showButton">Instructivo</a>

              {% endif %}
            </div>
        </div>


        <script>
          function initButton() {
              setTimeout(() => {
                  document.querySelector('.custom-button-login').style.opacity = 1;
                  document.querySelector('.custom-button-login').style.transform = 'translate-y-0';
                  isFirstVisit = false;
              }, isFirstVisit ? 3000 : 1000);
          }
      </script>
      </section>
</main>



{% else %}
<!-- Slide 1: Logo y texto -->
<section x-data="{ showButton: false }" class="flex flex-col justify-center items-center h-screen w-full ">
    <div class="p-6">
        <div class="animate-zoom-in">
            <img @click="showButton = true" src="{% static 'assets/img/ssblanco.svg' %}" class="w-32 max-w-2xl mx-auto md:mx-0 opacity-1 cursor-pointer" alt="YL Logo" />
        </div>
        <p class="eslogan text-white text-center mt-8">El app ideal, para mantener a todos sus usuarios registrados.</p>

        <div class="mt-6 text-center">
          <!-- Aquí aplicamos el estilo del botón con un buen contenedor y más largo en los lados -->
          <a href="{% url 'account_login' %}" id="ingresaButton" style="opacity: 0;" class="custom-button-login inline-block bg-transparent text-white font-bold text-3xl py-3 px-8 rounded-md border border-white transition-all duration-300 ease-in-out transform translate-y-4 hover:bg-white hover:text-blue-500 hover:opacity-100 translate-y-0">Ingresa</a>
         </div>
        
    </div>
</section>
{% endif %}

<script>
  function initButton() {
      const isFirstVisit = localStorage.getItem('isFirstVisit');
      if (!isFirstVisit) {
          setTimeout(() => {
              document.getElementById('ingresaButton').style.opacity = 1;
          }, 3000);
          localStorage.setItem('isFirstVisit', 'true');
      } else {
          setTimeout(() => {
              document.getElementById('ingresaButton').style.opacity = 1;
          }, 1000);
      }
  }
  
  window.onload = initButton;
  </script>


{% endblock content %}


