{% extends 'base/base.html' %}
{% load static %}
{% block navbar %}

  <div x-data="{open:false}" class="container mx-auto static top-0">
    <div class="navbar bg-blue-500 text-white shadow rounded-t-xl">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-blue-500 rounded-box w-52">
            <li>
              <a href="#">
                Inicio
              </a>
            </li>
            <li>
              <a href="#">
                Perfil
              </a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">
                Salir
              </a>
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-ghost normal-case text-xl">Social System</a>
      </div>
      <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a href="#">
              Inicio
            </a>
          </li>
          <li>
            <a href="#">
              Perfil
            </a>
          </li>
          <li>
            <a href="{% url 'account_logout' %}">
              Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock navbar %}


{% block content %}
	<div class="container mx-auto">
    <main class="h-4/5 flex justify-center items-center">
      <div id="inicio" class="w-4/5 lg:w-2/5">
        <div class="card lg:card-side bg-blue-500 text-white shadow-xl">
          <figure class="w-100 lg:w-3/12">
            <img src="{% static 'assets/img/profile-women.jpg' %}" alt="Movie"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title">New movie is released!</h2>
            <p>Click the button to watch on Jetflix app.</p>
            <div class="card-actions flex-row justify-center lg:justify-end mt-4">
              <a href="" class="btn btn-sm btn-outline outline-primary text-white">Agregar votante</a>
              <a href="{% url 'voter:voter-list' %}" class="btn btn-sm btn-outline outline-primary text-white">Ver votantes</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer footer-center p-4 bg-blue-500 text-white rounded-b-xl">
      <div>
        <p>Copyright © 2023 - Todos los derechos reservados por Social System</p>
      </div>
    </footer>
  </div>

{% endblock content %}


{% block footer %}

{% endblock footer %}


