{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<main class="main bg-gradient-to-b from-[#6792EB] to-[#535CD4] text-gray-900 flex flex-col justify-center items-center w-full min-h-screen">
    <div class="hero w-full flex-grow" id="inicio">
        <div class="flex flex-col justify-center items-center min-h-screen text-gray-900">
            <a href="{% url 'voter:home' %}">
                <img class="h-12 w-auto" src="{% static 'assets/img/ssblanco.svg' %}" alt="">
            </a>
            <div class="flex flex-wrap justify-center py-6">
                <div class="container mx-auto">
                    <div class="flex items-center justify-between flex-wrap sm:flex-nowrap">
                        <div class="mt-2">
                            <h1 class="text-center text-xl text-white font-bold">
                                Puedes editar la siguiente informacion
                            </h1>
                            <form class="w-full max-w-sm space-y-6 px-2" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                <label for="document_type" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Tipo de Documento *
                                </label>
                                    {{form.document_type}}
                                <label for="nuip" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Numero de Identidad *
                                </label>
                                    {{form.nuip}}
                                <label for="full_name" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Nombre Completo *
                                </label>
                                    {{form.full_name}}
                                <label for="quarter" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Barrio *
                                </label>
                                    {{form.quarter}}
                                <label for="related_count" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Nucleo Familiar *
                                </label>
                                    {{form.related_count}}
                                <label for="address" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Dirección (opcional)
                                </label>
                                    {{form.address}}
                                <label for="phone" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Numero Telefónico *
                                </label>
                                    {{form.phone}}
                                <label for="email" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                        E-mail (opcional)
                                </label>
                                        {{form.email}}
                                <label for="voting_point" class="block text-sm font-medium text-white pl-2 mb-1 mt-2 ">
                                    Punto de Votación *
                                </label>
                                    {{form.voting_point}}
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="border-2 border-white mt-4 rounded-full flex justify-center py-2 px-4 mx-auto shadow-sm text-xl text-white bg-[#6792EB] hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
<script>
    window.onload = function() {
        var settings = {};
        //search for all elements with the class "django-select2"
        var elements = document.querySelectorAll('.django-select2');
        //loop through all found elements
        for (var i = 0; i < elements.length; i++) {
            //create a new TomSelect element for each
            new TomSelect(elements[i], settings);
        }

        ///scan barcode
        const video = document.getElementById('video');
        const detectionBox = document.getElementById('detectionBox');
        const startButton = document.getElementById('startButton');

        // Check if barcode detection is supported
        if (!('BarcodeDetector' in window)) {
            console.error('Barcode detection is not supported on this browser.');
            startButton.disabled = true;
            return;
        }

        const barcodeDetector = new BarcodeDetector({ formats: ['pdf417'] });
        const textDecoder = new TextDecoder();
        let scanning = false;

        async function startScanner() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                video.srcObject = stream;
                video.addEventListener('loadeddata', handleVideoLoaded);
            } catch (error) {
                console.error('Error accessing camera: ', error);
            }
        }

        function handleVideoLoaded() {
            video.play();
            scanning = true;
            scanBarcode();
        }

        async function scanBarcode() {
            if (!scanning) return;

            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            try {
                const barcodes = await barcodeDetector.detect(canvas);
                if (barcodes && barcodes.length > 0) {
                    // Get the barcode result for further processing
                    const barcodeResult = barcodes[0];
                    console.log('Barcode detected:', barcodeResult);
                    // Extract the relevant information from the barcode
                    const { x, y, width, height } = barcodeResult.boundingBox;

                    // Update the detection box position and size
                    detectionBox.style.left = `${x}px`;
                    detectionBox.style.top = `${y}px`;
                    detectionBox.style.width = `${width}px`;
                    detectionBox.style.height = `${height}px`;

                    // Decode and convert binary data to readable format
                    const binaryData = barcodeResult.rawData;
                    const decodedData = textDecoder.decode(binaryData);
                    console.log('Decoded data:', decodedData);

                    // Stop scanning after detecting a barcode
                    scanning = false;
                }

                // Continue scanning for barcodes
                if (scanning) {
                    requestAnimationFrame(scanBarcode);
                }
            } catch (error) {
                console.error('Error scanning barcode:', error);
            }
        }

        startButton.addEventListener('click', startScanner);
    };
</script>
<style>
    .ts-control {
        border-radius: 9999px !important;
    }
</style>
{% endblock js %}
