{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class=" bg-white w-full flex relative justify-between items-center mx-auto px-8 h-20">
    <!-- logo -->
    <div class="inline-flex">
        <a class="_o6689fn" href="/"
            >    <div class="flex items-center">
                <img class="h-12 w-auto" src="{% static 'assets/img/ssgod.svg' %}" alt="">
            </div>
            
        </a>
    </div>
    <div class="flex-initial">
    <div class="flex justify-end items-center relative">
        <div class="flex mr-4 items-center">
        </div>
    <div class="my-6 text-right px-6">
        <a href="{% url 'voter:voter' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Añadir
        </a>
        <a href="{% url 'voter:report-voter' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-4">
            Generar
        </a>
    </div>
      
      
      </div>
    </div>
    <!-- end login -->
  </nav>
  
<div class="w-full overflow-hidden rounded-lg shadow-xs mb-10">
    <div class="flex flex-col h-screen justify-between">
       

        <div class="w-full overflow-x-auto overflow-hidden rounded-lg shadow-xs flex-grow mb-10 flex flex-col justify-between">
    

        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-center text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-500 dark:bg-gray-800">
                    <th class="px-4 py-3">Numero de Documento</th>
                    <th class="px-4 py-3">Nombre Completo</th>
                    <th class="px-4 py-3">Barrio</th>
                    <th class="px-4 py-3">Punto de Votacion</th>    
                    <th class="px-4 py-3">Telefono</th>
                    <th class="px-4 py-3">Coordinador</th>
                    <th class="px-4 py-3">Acciones</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                {% for voter in page_obj  %}
                <tr class="text-gray-700 dark:text-gray-400 text-center">
                    <td class="px-4 py-3 text-sm">
                        {{ voter.document_type }}-{{ voter.nuip }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {{ voter.full_name }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {{ voter.quarter }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {{ voter.voting_point }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {{ voter.phone }}
                    </td>

                    <td class="px-4 py-3 text-sm">
                        {{ voter.coordinator }}
                    </td>
                    <td class="px-4 py-3 flex justify-around">
                        <a href="{% url 'voter:voter-edit' voter.id %}" class="bg-black-500 hover:bg-yellow-600 text-white py-1 px-2 rounded">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
               <nav class="block py-2 px-4 text-center bg-white mt-auto">

            {% if page_obj.has_previous %}
                <a href="?page=1" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-400">Primero</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-400">Anterior</a>
            {% endif %}
            <span class="px-3 py-2 bg-blue-200 text-blue-800 rounded">{{ page_obj.number }}</span>
            <span class="px-3 py-2 bg-blue-200 text-blue-800 rounded">de</span>
            <span class="px-3 py-2 bg-blue-200 text-blue-800 rounded">{{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-400">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-400">Último</a>
            {% endif %}
        </nav>
    </div>
</div>
{% endblock content %}